table, th, td 
{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

.div1
{
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background-color:#12132e;
  width: 1200px;
  border-radius: 30px;
  padding: 50px;
  margin: 0 auto;
}

body
{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

